{erl_opts, [debug_info,
    {src_dirs, ["src", "test"]},
    {dir, "test"}, %% Directory containing your test suites
    {logdir, "_build/test/logs"}, %% Directory to store test logs
    {cover, true} %% Enable code coverage reports
    ]}.
{shell, [{apps, [erlang_app]}]}.
{deps, [
    {cowboy, ".*", {git, "https://github.com/extend/cowboy"}},
    {jsx, "~> 3.0"},
    {eredis, {git,"https://github.com/wooga/eredis.git", {branch,"master"}}},
    {uuid, ".*",{git, "https://github.com/avtobiff/erlang-uuid.git", "master"}},
    {meck, ".*", {git, "https://github.com/eproxus/meck.git", {tag, "0.9.2"}}},
    {etest, ".*", {git, "https://github.com/wooga/etest.git", {tag, "1.2.1"}}},
    {etest_http, ".*", {git, "https://github.com/wooga/etest_http", {branch, "master"}}}
]}.

{relx, [
    {release, {erlang_app, "0.1.0"}, [
        erlang_app,
        sasl
    ]},

    {mode, dev},

    %% automatically picked up if the files
    %% exist but can be set manually, which
    %% is required if the names aren't exactly
    %% sys.config and vm.args
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}

    %% the .src form of the configuration files do
    %% not require setting RELX_REPLACE_OS_VARS
    %% {sys_config_src, "./config/sys.config.src"},
    %% {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [
    %% prod is the default mode when prod
    %% profile is used, so does not have
    %% to be explicitly included like this
    {prod, [
        {relx, [
            {mode, prod}

            %% use minimal mode to exclude ERTS
            %% {mode, minimal}
        ]}
    ]},
    {test, [
        {deps, [
            {cowboy, "2.10.0"},
            {ranch, "2.0.0"}
        ]}
    ]}
]}.
